:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: B10, D20, D80, G10, O10, R10, Y10;
}

:import {
  -st-from: '../Text/Caption.st.css';
  -st-default: Caption;
  -st-named: --caption-color;
}

.root {
  --font: initial;
  --bg: value(D20);
  --color: value(D80);
}

.root {
  -st-states: custom, skin(enum(standard, danger, warning, urgent, success));
  border-radius: 18px;
  display: flex;
  width: fit-content;
  height: 18px;
  min-width: 6px;
  text-align: center;
  padding: 0 6px;
  background-color: var(--bg);
}

.root:skin(standard) {
  --bg: value(B10);
}

.root:skin(danger) {
  --bg: value(R10);
}

.root:skin(warning) {
  --bg: value(Y10);
}

.root:skin(urgent) {
  background-color: value(O10);
}

.root:skin(success) {
  background-color: value(G10);
}

.text {
  -st-extends: Caption;
  margin: auto;
}

.text:light {
  --caption-color: var(--color);
}

.root:custom {
  position: relative;
  height: 18px;
}

.root:custom svg {
  position: absolute;
  height: 12px;
  width: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
