:import {
  -st-from: "../../Foundation/stylable/default-scroll-bar.st.css";
  -st-named: defaultScrollBar;
}

.content {
  -st-mixin: defaultScrollBar;
  flex: 1;
  overflow: auto;
}

.content .mainLoaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .nextPageLoaderWrapper {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.emptyStateWrapper,
.noResultsFoundStateWrapper,
.defaultEmptyStateWrapper,
.defaultNoResultsFoundStateWrapper {
  width: 100%;
  height: 100%;
}

.defaultEmptyStateWrapper,
.defaultNoResultsFoundStateWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
