/* Components */
:import {
  -st-from: "../../CustomModalLayout/CustomModalLayout.st.css";
  -st-default: CustomModalLayout;
}

/* Overrides */
:import {
  -st-from: "./components/CustomModalLayout.st.css";
  -st-default: CustomModalLayoutVariation;
}


@st-scope .root {
  CustomModalLayout {
    -st-mixin: CustomModalLayoutVariation();
  }
}
