:import {
  -st-from: '../../Foundation/stylable/colors.st.css';
  -st-named: B60, D80;
}



.item {
  -st-states: hovered;
  display: grid;
  grid-template-columns: auto 1fr;
}

.item:hovered .selector,
.item:hovered .header {
  background-color: value(B60);
}

.item:last-child .divider {
  display: none;
}

.selector, .header {
  transition: background-color 0.3s;
}

.selector {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 30px;
  padding-right: 18px;
}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  padding: 24px 30px 24px 0;
}

.content {
  grid-column-start: 2;
  grid-column-end: 2;
}

.text {
  overflow: hidden;
}

.inner {
  padding: 0 30px 24px 0;
}
