@import '../../common';

.button {
  background: transparent;
  color: $D30;
  height: 40px;
  width: 54px;
  padding: 0;
  border: 0;
  border-radius: 6px;
  outline: none;

  &:not(.disabled):hover {
    cursor: pointer;
    color: var(--wsr-color-20, $B20);
  }
}

.active {
  color: var(--wsr-color-10, $B10);
}

.disabled {
  color: $D10-30;
}
