:import {
  -st-from: "../../Foundation/stylable/colors.st.css";
  -st-named: D70, A1;
}

:vars {
  barWidth: 18px;
}

.root {
  position: relative;
  z-index: 1;
  width: value(barWidth);
  background: value(D70);
}

.filledBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: value(A1);
}